[build]
command = "npm run build"
publish = "dist"
environment = { NODE_VERSION = "18", VITE_BACKEND_URL = "https://google-sheets-rest-api-production.up.railway.app" }

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[dev]
command = "npm run dev"
port = 8888
targetPort = 5173